In [2]:
# Variation and variability: A random sample of 10,000 observational cases are taken from 2020
# US Census data on income. The response variable: yearly income ($). Note that the data has been
# cleaned to remove people who were not employed and/or income was reported as 0. Thus, n = 4, 365.
# (a) What is a ’typical’ yearly income for these 4,365 people? (3 marks)
# 1
# (b) Do the yearly incomes of these 4,365 people vary? How do you know? (2 marks)
# (c) What would the values of the standard deviation and IQR be if there was no variability in
# yearly income for these 4,365 people? (5 marks)
# (d) What would the values of the mean, median, Q1, Q3, minimum and maximum yearly incomes
# be if there was no variability? (5 marks)
# (e) What do you think are some possible causes or reasons or potential sources of the variability in
# the yearly incomes of these 4,365 people? (Hint: Perform bivariate analysis leveraging boxplots
# between response variable and education level, region of the US. Provide an explanation of your
# thinking with numerical support) (5 marks)

a)

In [3]:
import pandas as pd

# Load the Excel file
file_path = r'C:\Users\Admin\OneDrive\Desktop\question_1\us-wages.xlsx'
data = pd.read_excel(file_path)

# Check the first few rows of the data
print(data.head())

   Age     Sex           Marital_status  Number_of_children  Family_size  \
0   30    Male  Married, spouse present                   2            4
1   28  Female  Married, spouse present     1 child present            3
2   34    Male  Married, spouse present     1 child present            3
3   58  Female   Married, spouse absent     1 child present            2
4   39    Male     Never married/single  0 children present            1

                 Education-degree_recode  \
0      Masterâ€™s or professional degree
1      Masterâ€™s or professional degree
2                    Bachelorâ€™s degree
3  1 or more years of college, no degree
4                    Bachelorâ€™s degree

               Education-degree_recode 2  \
0          Master or professional degree
1          Master or professional degree
2                        Bachelor degree
3  1 or more years of college, no degree
4                        Bachelor degree

                               Education Race_ethnicity-multi_recode  \
0   Master or PhD or professional degree          Non-Hispanic White
1   Master or PhD or professional degree          Non-Hispanic White
2           Associate or Bachelor degree          Non-Hispanic White
3  1 or more years of college, no degree          Non-Hispanic White
4           Associate or Bachelor degree          Non-Hispanic White

   Immigrate-year                          Birthplace_recode  \
0               0  U.S. state, territory, or outlying region
1               0  U.S. state, territory, or outlying region
2               0  U.S. state, territory, or outlying region
3               0  U.S. state, territory, or outlying region
4               0  U.S. state, territory, or outlying region

             Speaks_English Employment_status  Income-wages Region_recode  \
0  Yes, speaks only English          Employed         63000         South
1  Yes, speaks only English          Employed         46000         South
2  Yes, speaks only English          Employed         45000         South
3  Yes, speaks only English          Employed         55000         South
4  Yes, speaks only English          Employed         12000         South

  Region-division_recode       Moved  Year      state
0     East South Central  Same house  2020  Tennessee
1     East South Central  Same house  2020  Tennessee
2     East South Central  Same house  2020  Tennessee
3     East South Central  Same house  2020  Tennessee
4     East South Central  Same house  2020  Tennessee

In [5]:
# Load the Excel file
file_path = r'C:\Users\Admin\OneDrive\Desktop\question_1\us-wages.xlsx'
data = pd.read_excel(file_path)
data

,Age,Sex,Marital_status,Number_of_children,Family_size,Education-degree_recode,Education-degree_recode 2,Education,Race_ethnicity-multi_recode,Immigrate-year,Birthplace_recode,Speaks_English,Employment_status,Income-wages,Region_recode,Region-division_recode,Moved,Year,state
0,30,Male,"Married, spouse present",2,4,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,63000,South,East South Central,Same house,2020,Tennessee
1,28,Female,"Married, spouse present",1 child present,3,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,46000,South,East South Central,Same house,2020,Tennessee
2,34,Male,"Married, spouse present",1 child present,3,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,45000,South,East South Central,Same house,2020,Tennessee
3,58,Female,"Married, spouse absent",1 child present,2,"1 or more years of college, no degree","1 or more years of college, no degree","1 or more years of college, no degree",Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,55000,South,East South Central,Same house,2020,Tennessee
4,39,Male,Never married/single,0 children present,1,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,12000,South,East South Central,Same house,2020,Tennessee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4360,67,Male,"Married, spouse present",0 children present,2,Bachelorâ€™s degree,Bachelor degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,40000,Midwest,West North Central,Same house,2020,North Dakota
4361,48,Male,"Married, spouse present",4,6,Associateâ€™s degree,Associate degree,Associate or Bachelor degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,65000,Midwest,West North Central,Same house,2020,North Dakota
4362,33,Male,"Married, spouse absent",0 children present,1,Associateâ€™s degree,Associate degree,Associate or Bachelor degree,Non-Hispanic Black,2017,Africa,"Yes, speaks very well",Employed,45000,Midwest,West North Central,Same house,2020,North Dakota
4363,22,Female,Never married/single,0 children present,2,"1 or more years of college, no degree","1 or more years of college, no degree","1 or more years of college, no degree",Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,500,Midwest,West North Central,Same house,2020,North Dakota
4364,49,Female,"Married, spouse present",2,4,Masterâ€™s or professional degree,Master or professional degree,Master or PhD or professional degree,Non-Hispanic White,0,"U.S. state, territory, or outlying region","Yes, speaks only English",Employed,498000,Midwest,West North Central,Same house,2020,North Dakota

In [10]:
mean_income = data['Income-wages'].mean()
median_income = data['Income-wages'].median()

print(f"Mean Yearly Income: ${mean_income:,.2f}")
print(f"Median Yearly Income: ${median_income:,.2f}")

Mean Yearly Income: $58,704.16
Median Yearly Income: $41,000.00

b)

In [12]:
std_dev_income = data['Income-wages'].std()
q1 = data['Income-wages'].quantile(0.25)
q3 = data['Income-wages'].quantile(0.75)
iqr = q3 - q1

print(f"Standard Deviation of Yearly Income: ${std_dev_income:,.2f}")
print(f"Interquartile Range (IQR): ${iqr:,.2f}")

Standard Deviation of Yearly Income: $68,338.06
Interquartile Range (IQR): $49,000.00

c)

In [13]:
# If there is no variability in yearly income, all individuals would have the same income. In this case:

# The standard deviation would be 0 (no spread).
# The IQR would also be 0 (since the data would be constant).

d)

In [14]:
# constant_income = 50000  # Replace with the actual constant income
# mean_income_no_variability = constant_income
# median_income_no_variability = constant_income
# q1_no_variability = constant_income
# q3_no_variability = constant_income
# min_income_no_variability = constant_income
# max_income_no_variability = constant_income

# print(f"Mean: {mean_income_no_variability}, Median: {median_income_no_variability}")
# print(f"Q1: {q1_no_variability}, Q3: {q3_no_variability}")
# print(f"Minimum: {min_income_no_variability}, Maximum: {max_income_no_variability}")

e)

In [16]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Boxplot for Yearly Income by Education Level
# plt.figure(figsize=(10, 6))
# sns.boxplot(x='education_level', y='yearly_income', data=data)
# plt.title('Yearly Income by Education Level')
# plt.xticks(rotation=45)
# plt.show()

# # Boxplot for Yearly Income by Region
# plt.figure(figsize=(10, 6))
# sns.boxplot(x='region', y='yearly_income', data=data)
# plt.title('Yearly Income by Region')
# plt.xticks(rotation=45)
# plt.show()

In [ ]:
# # Group by Education Level and calculate summary statistics
# education_summary = data.groupby('education_level')['yearly_income'].describe()

# # Group by Region and calculate summary statistics
# region_summary = data.groupby('region')['yearly_income'].describe()

# print(education_summary)
# print(region_summary)